@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Alegreya Sans', sans-serif;
    background-image: linear-gradient(to right, #85ffe5, #46edf5, #00d8ff, #35c0ff, #6fa5f9);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}